<!-- templates/base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Cardados{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Cardados</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_template' %}">Adicionar template</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_group' %}">Adicionar grupo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_inspection' %}">Adicionar inspeção</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="container mt-4">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message|safe}}
            </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </main>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
